# lock
yarn.lock
package-lock.json

# vite-ssg
.vite-ssg-dist
.vite-ssg-temp

node_modules
.DS_Store
dist
dist-ssr
*.local
*.log

# intellij stuff
.idea/

.remote-assets

# vitesse
components.d.ts
auto-imports.d.ts

# metadata
packages/metadata/indexes.json
